.app-error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 720px;
    height: 511px;

    background: #0a0a0a;
    border: 1px solid #3d3d3d;
    border-radius: 12px;

    p {
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        text-align: center;
        letter-spacing: -0.02em;
        color: #fafafa;
    }

    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #a4a4a4;
    }

    button {
        padding: 4px 16px;
        min-width: 80px;
        height: 40px;
        background: #ffffff;
        border-radius: 12px;
        outline: none;

        span {
            font-weight: 600;
            font-size: 14px;
            text-align: center;
            color: #0a0a0a;
            outline: none;
            box-shadow: none;
        }
    }
}
