:host {
    width: 100%;
    max-width: 720px;
    padding: 48px 24px;
}

.app-favorites {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 48px;

    &__header {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px;
        height: auto;

        &__logo {
            width: 110px;
            height: 48px;
        }
    }

    &__content {
        margin-bottom: 24px;

        &__extra-options {
            margin-bottom: 24px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;

            button {
                padding: 4px 16px;
                min-width: 80px;
                height: 40px;
                background: #ffffff;
                border-radius: 12px;
                outline: none;

                span {
                    font-weight: 600;
                    font-size: 14px;
                    text-align: center;
                    color: #0a0a0a;
                    outline: none;
                    box-shadow: none;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    :host {
        padding: 48px 0;
    }

    .app-favorites {
        &__header {
            padding: 0 24px;
            gap: 8px;
        }

        &__no-content {
            padding: 0 24px;
        }
    }
}
